.text-content {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.my-table{
    margin-top:10px;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    
}